div.texto-derecha {
  text-align: right;
  font-style: italic;
  color: navy;
}
div.texto-izquierda {
  text-align: left;
  font-style: italic;
  color: brown;
}

div.general {
  margin: 10%;
  max-width: 1000px;
  min-width: 300px;
  word-wrap: break-word;
}

h1 {
  text-decoration-color:navy;
  text-align: left;
  font-size: x-large;
}

h2 {
  text-decoration-color: red;
  text-align: center;
  text-decoration: underline;
  word-spacing: 15px;
}

h3 {
  font-size: x-large;
  text-align: left;
  font-weight: bolder;
  text-decoration: underline overline;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-style:oblique;
  writing-mode: vertical-rl; 
}

p {
  text-align: justify;
  font-family: sans-serif;
  line-height: 1.6;
  hyphens: auto
}

p2 {
  text-align: justify;
  font-family: sans-serif;
  line-height: 1.0;
  word-wrap: break-word;
}

pre {
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
}
#a {
  quotes: "'" "'";
}
table {
  border-collapse: collapse;
  border-width: 4px;
  border-style: dotted;
  td{
    background-color: lightblue;
    border-style: dashed;
  }
}
